<ul class="container">
	<li>{{ arrTasksInput[0]?.title }} - {{ arrTasksInput[0]?.description }}</li>
	<li>{{ arrTasksInput[1]?.title }} - {{ arrTasksInput[1]?.description }}</li>
	<li>{{ arrTasksInput[2]?.title }} - {{ arrTasksInput[2]?.description }}</li>
	<li>{{ arrTasksInput[3]?.title }} - {{ arrTasksInput[3]?.description }}</li>
	<li>{{ arrTasksInput[4]?.title }} - {{ arrTasksInput[4]?.description }}</li>
	<li>{{ arrTasksInput[5]?.title }} - {{ arrTasksInput[5]?.description }}</li>
</ul>

<div>
	{{ showListTasks() }}
</div>

<div>
	{{ arrTasksInput | json }}
</div>