.card {
	margin: 0.5rem;
	width: 120px;
	text-align: center;
	transition: transform 0.3s ease-in-out;
}

.card:hover {
	filter: brightness(1.05);
	transform: scale(1.1);
}

.card img {
	background-color: hsl(200, 100%, 90%);
	width: 120px;
	height: 50px;
	object-fit: cover;
	display: block;
}

.card .data-card {
	background-color: hsl(220, 90%, 90%);
	border: 1px solid lightcoral;
	border-top: 0;
	padding: 0.5rem;
}